/* AddBookLive.css */
.add-book-live-container {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #1e1e1e;
    background-image: radial-gradient(rgba(255, 255, 255, 0.1) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    flex-wrap: wrap; /* Allow wrapping for mobile screens */
}

.book-details-container {
    flex: 1;
    margin-right: 40px;
    text-align: left;
}

.image-gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%; /* Take up 60% of the available space */
}

.image-gallery {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image-gallery h3 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

/* Image Grid */
.image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.received-image {
    width: 840px;
    height: 480px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background-color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 1280px;
    max-height: 720px;
}

.received-image:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.submit-button {
    font-size: 1.25rem;
    padding: 12px 24px;
    border: none;
    background-color: #d27e7e;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #cd6f6f;
}

.pdf-status {
    font-size: 1.25rem;
    color: #bbb;
    margin-top: 10px;
}

.pdf-status p {
    font-weight: bold;
}

.summary-section {
    margin-top: 20px;
    text-align: left;
    width: 100%;
    transform: translateY(-350px);
}

.summary-section h3 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.summary-section p {
    font-size: 1.25rem;
    color: #bbb;
}

/* Mobile-Friendly */
@media (max-width: 768px) {
    .add-book-live-container {
        flex-direction: column;
        padding: 20px;
    }

    .book-details-container {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .image-gallery-container {
        width: 100%;
    }

    .received-image {
        width: 220px;
        height: 220px;
    }

    h3 {
        font-size: 2rem;
        transform: translateY(-60px);
    }

    button.submit-button {
        font-size: 1rem;
    }
}
